In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.linear_model import LogisticRegression

df = pd.read_csv('loan.csv')

df.head()

,age,gender,occupation,education_level,marital_status,income,credit_score,loan_status
0,32,Male,Engineer,Bachelor's,Married,85000,720,Approved
1,45,Female,Teacher,Master's,Single,62000,680,Approved
2,28,Male,Student,High School,Single,25000,590,Denied
3,51,Female,Manager,Bachelor's,Married,105000,780,Approved
4,36,Male,Accountant,Bachelor's,Married,75000,710,Approved

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              61 non-null     int64
 1   gender           61 non-null     object
 2   occupation       61 non-null     object
 3   education_level  61 non-null     object
 4   marital_status   61 non-null     object
 5   income           61 non-null     int64
 6   credit_score     61 non-null     int64
 7   loan_status      61 non-null     object
dtypes: int64(3), object(5)
memory usage: 3.9+ KB

In [18]:
df.isnull().sum()

age                0
gender             0
occupation         0
education_level    0
marital_status     0
income             0
credit_score       0
loan_status        0
dtype: int64

In [19]:
df_encoded = pd.get_dummies(df,drop_first = True)
df_encoded.head()

,age,income,credit_score,gender_Male,occupation_Analyst,occupation_Architect,occupation_Artist,occupation_Banker,occupation_Chef,occupation_Consultant,...,occupation_Stylist,occupation_Teacher,occupation_Veterinarian,occupation_Writer,education_level_Bachelor's,education_level_Doctoral,education_level_High School,education_level_Master's,marital_status_Single,loan_status_Denied
0,32,85000,720,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,45,62000,680,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,1,0
2,28,25000,590,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,1
3,51,105000,780,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,36,75000,710,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [20]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 47 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   age                          61 non-null     int64
 1   income                       61 non-null     int64
 2   credit_score                 61 non-null     int64
 3   gender_Male                  61 non-null     uint8
 4   occupation_Analyst           61 non-null     uint8
 5   occupation_Architect         61 non-null     uint8
 6   occupation_Artist            61 non-null     uint8
 7   occupation_Banker            61 non-null     uint8
 8   occupation_Chef              61 non-null     uint8
 9   occupation_Consultant        61 non-null     uint8
 10  occupation_Dentist           61 non-null     uint8
 11  occupation_Designer          61 non-null     uint8
 12  occupation_Doctor            61 non-null     uint8
 13  occupation_Editor            61 non-null     uint8
 14  occupation_Electrician       61 non-null     uint8
 15  occupation_Engineer          61 non-null     uint8
 16  occupation_HR                61 non-null     uint8
 17  occupation_IT                61 non-null     uint8
 18  occupation_Lawyer            61 non-null     uint8
 19  occupation_Manager           61 non-null     uint8
 20  occupation_Marketing         61 non-null     uint8
 21  occupation_Musician          61 non-null     uint8
 22  occupation_Nurse             61 non-null     uint8
 23  occupation_Pharmacist        61 non-null     uint8
 24  occupation_Photographer      61 non-null     uint8
 25  occupation_Pilot             61 non-null     uint8
 26  occupation_Professor         61 non-null     uint8
 27  occupation_Programmer        61 non-null     uint8
 28  occupation_Psychologist      61 non-null     uint8
 29  occupation_Realtor           61 non-null     uint8
 30  occupation_Receptionist      61 non-null     uint8
 31  occupation_Researcher        61 non-null     uint8
 32  occupation_Sales             61 non-null     uint8
 33  occupation_Salesman          61 non-null     uint8
 34  occupation_Server            61 non-null     uint8
 35  occupation_Software          61 non-null     uint8
 36  occupation_Student           61 non-null     uint8
 37  occupation_Stylist           61 non-null     uint8
 38  occupation_Teacher           61 non-null     uint8
 39  occupation_Veterinarian      61 non-null     uint8
 40  occupation_Writer            61 non-null     uint8
 41  education_level_Bachelor's   61 non-null     uint8
 42  education_level_Doctoral     61 non-null     uint8
 43  education_level_High School  61 non-null     uint8
 44  education_level_Master's     61 non-null     uint8
 45  marital_status_Single        61 non-null     uint8
 46  loan_status_Denied           61 non-null     uint8
dtypes: int64(3), uint8(44)
memory usage: 4.2 KB

In [21]:
X = df_encoded.drop('loan_status_Denied',axis = 1)
y = df_encoded['loan_status_Denied']

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
model = LogisticRegression()

In [24]:
model.fit(X_train,y_train)

LogisticRegression()

In [25]:
y_pred = model.predict(X_test)

In [27]:
accuracy = accuracy_score(y_test,y_pred)
print(accuracy)

1.0

In [28]:
confusion = confusion_matrix(y_test,y_pred)
print(confusion)

[[9 0]
 [0 4]]

In [29]:
report = classification_report(y_test,y_pred)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         9
           1       1.00      1.00      1.00         4

    accuracy                           1.00        13
   macro avg       1.00      1.00      1.00        13
weighted avg       1.00      1.00      1.00        13