In [2]:
#List comprehension task

sq = [1,2,3,4,5,6,7,8,9,10]
newSq = [i**2 for i in sq]
newSq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#Nested list comprehension task

matrix = [[i+j *3 + 1 for i in range(3)]for j in range(3)]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
#del statements task

number = [1,2,3,4,5]
del number [2] # alternate method :- del number [2:3]
number

[1, 2, 4, 5]

In [17]:
#Tuples and Sequences task

tuple = (1,2,3)
tuple[2] = 4

TypeError: 'tuple' object does not support item assignment

In [18]:
#Sets task

sets = {1,2,2,3,4}
sets

#Sets remove repeating elements from the input

{1, 2, 3, 4}

In [1]:
#Dictionaries task

information = {'name': 'Garv','age': '18','city': 'Mumbai'}
information['name']

'Garv'

In [13]:
#Looping techniques task

num = [1,2,3,4,5,6,7,8,9,10]

for i in num:
    print(num)
    break

print()

for a,b in enumerate(num):
    print(a,":",b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5
5 : 6
6 : 7
7 : 8
8 : 9
9 : 10